.background-image {
    background-image: url('../images/80s-floor.png');
    background-repeat: repeat-y;
    background-position: cover;
   }

#add-toon {
    font-family: 'Orbitron', sans-serif;
    background-color: mediumpurple;
    border: 5px outset purple;
}

#add-toon:hover {
    cursor: pointer;
    opacity: 0.85;
}

.press {
    font-family: 'Press Start 2P', cursive;
    color: mediumpurple;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.toon {
    margin: 4px;
    font-family: 'Orbitron', sans-serif;
    background-color: mediumpurple;
    border: 5px outset purple;
}

.toon:hover {
    cursor: pointer;
    opacity: 0.85;;
}

.imageBox {
    margin-bottom: 5px;
}

.imageBox:hover {
    cursor: pointer;
    outline: 3px outset mediumpurple;
    outline-offset: 2px;
}