.background-image {
    background-image: url('../images/80s-floor.png');
    background-repeat: repeat-y;
   }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.toon {
    margin: 2px;
}

.imageBox {
    margin-bottom: 5px;
}